#logo {

    display: block;
    margin: auto;
    width: 25%;
    padding-top: 10%;

}

.center {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
}

#searchBar {

    width: 50%;
    border-radius: 25px;

}

#topBar {

    text-align: right;

}