
@media screen and (min-width: 600px) {
#logo {

    display: block;
    margin: auto;
    width: 25%;
    padding-top: 10%;

}
}

@media screen and (max-width: 599px) {
    #logo {

        display: block;
        margin: auto;
        width: 75%;
        padding-top: 30%;
    
    }
}

@media screen and (min-width: 600px) {
    .center {
        display: block;
        text-align: center;
        margin: auto;
        width: 60%;
    }
}

@media screen and (max-width: 599px) {
    .center {
        display: block;
        text-align: center;
        margin: auto;
        width: 100%;
    }
}


#searchBar {

    width: 50%;
    border-radius: 25px;

}

#topBar {

    text-align: right;

}


#advanced {

    color: white;
    background-color: #1979a9;
    

}

table {

    display: block;
    width: 75%;

}

a {

    padding: 1%;

}